@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.card {
  height: 200px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
}
.corner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}
.top-left {
  top: 5px;
  left: 5px;
}
.bottom-right {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}
.heart {
  color: red;
  font-size: 25px;
}
.number {
  font-size: 20px;
  color: black;
}
.center-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 40px;
  color: black;
}
